.git
.vs
/GetJustMyFiles/bin/Debug/net6.0/GetJustMyFiles.deps.json
/GetJustMyFiles/bin/Debug/net6.0/GetJustMyFiles.dll
/GetJustMyFiles/bin/Debug/net6.0/GetJustMyFiles.exe
/GetJustMyFiles/bin/Debug/net6.0/GetJustMyFiles.runtimeconfig.json
