
/GetJustMyFiles/bin/Release/net6.0/GetJustMyFiles.deps.json
/GetJustMyFiles/bin/Release/net6.0/GetJustMyFiles.dll
/GetJustMyFiles/bin/Release/net6.0/GetJustMyFiles.exe
/GetJustMyFiles/bin/Release/net6.0/GetJustMyFiles.runtimeconfig.json
